<!doctype html>
<html lang="en-US" class="site" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    {{ partial "og-general.html" . }}
    {{ partial "og-twitter.html" . }}
    {{ partial "gtm-script.html" . }}

    {{ $style := .Site.Data.webpack.main }}
    {{ with $style.css }}
    <link rel="stylesheet" href="{{ relURL . }}" />
    {{ end }}
  </head>
  <body class="{{ .Kind }}">
    {{ partial "gtm-noscript.html" }}
    {{ block "main" . }}
    {{ end }}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
    <script async src="{{ relURL . }}"></script>
    {{ end }}
</body>
</html>
