<!doctype html>
<html dir="{{ .Param "dir" }}" lang="{{ .Param "code" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if (eq .Kind "page") }}{{ .Page.Summary }}{{ else }}{{ .Param "description" }}{{ end }}" /> 

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <title>{{ if .IsPage }} {{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
    <link preload media="screen" rel="stylesheet" href="/styles/main.css"/>
  </head>
  <body>
    <header role="banner">
        <a href="#main">Skip to content</a>
        <a class="upper bold" href="/">gustafholm.com</a>
    </header>
    <main role="main" id="main">{{ block "main" . }}{{ end }}</main>
    <footer role="contentinfo">
      <p class="bold">{{ T "noCookies" | emojify }}</p>
    </footer>
  </body>
</html>
