<!doctype html>
<html dir="{{ .Param "dir" }}" lang="{{ .Param "code" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if (eq .Kind "page") }}{{ .Page.Summary }}{{ else }}{{ .Param "description" }}{{ end }}" /> 

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <title>{{ if .IsPage }} {{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
    <link preload media="screen" rel="stylesheet" href="/styles/main.css"/>
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <nav class="upper bold"><a href="/"><small>gustafholm.com</small></a></nav>
    {{ block "main" . }}{{ end }}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
