{{ partial "header.html" . }}
<article>
<h1>{{ .Title }}</h1>
<p class="meta">
<span class="label dimmed">{{ .Date.Format "2006-01-02" }}</span>
<span class="label dimmed"> &middot; {{ .WordCount }} words</span>
</p>
{{ .Content }}
<hr>
<div class="col-two">
{{ with .PrevInSection }}
<p>
  <span class="label dimmed">Previous</span>
  <br> 
  <a href="{{.Permalink}}"> {{.Title}}</a>
</p>
{{ end }}
{{ with .NextInSection }}
<p>
  <span class="label dimmed">Next</span>
  <br>
  <a href="{{.Permalink}}"> {{.Title}}</a>
</p>
{{ end }}
</div>
</article>
{{ partial "footer.html" . }}
