  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="{{ .Title }}">
  <meta property="og:title" content="{{ .Title }}">

  {{ if .IsPage }}
  <meta property="og:description" content="{{ .Summary }}">
  {{ else }}
  <meta property="og:description" content="{{ .Site.Params.description }}">
  {{ end }}

  {{ with .Params.image }}
  <meta property="og:image" content="https://res.cloudinary.com/primalivet/image/upload/w_1200/h_675/{{ . }}">
  {{ end }}

  {{ if not .IsPage }}
  <meta property="og:type" content="website">
  {{ else }}
  <meta property="og:type" content="article">
  <meta property="article:author" content="Gustaf Holm">
  <meta property="article:published_time" content="{{ .Page.Date }}">
  {{ end }}

