:root {
  --white: hsl(0,    0%,   100%);
  --black: hsl(0,    0%,   0%);

  --grey: hsl(0, 0%, 15%);
  --blue: hsl(206,  69%,  44%);
  --purple: hsl(270, 69%, 44%);
  --red: hsl(348, 69%, 44%);

  --lightgrey: hsl(0, 0%, 90%); 
  --lightblue: hsl(206,  69%,  64%);
  --lightpurple: hsl(270, 69%, 64%);
  --lightred: hsl(348, 69%, 64%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 1.5rem;
  }
}

body {
  max-width: 42rem;
  margin: 2em;
  background: var(--almostwhite);
  color: var(--almostblack);
}


@media (prefers-color-scheme: dark) {
  body {
    background: var(--black);
    color: var(--white);
  }
}


@media screen and (min-width: 700px) {
  body {
    margin: 4rem;
  }
}

main,
article,
section {
  margin: 6em 0;
}

h1 { 
  font-size: 1.5em; 
  line-height: 1.2;
}
h2 { font-size: 1.25em; }
h3 { font-size: 1.125em; }

h4,h5,h6 { font-size: 1em; }

@media screen and (min-width: 700px) {
  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.25em; }
  h4,h5,h6 { font-size: 1.125em; }
}

@media screen and (min-width: 1000px) {
  h1 { font-size: 2.25em; }
  h2 { font-size: 1.75em; }
  h3 { font-size: 1.5em; }
  h4,h5,h6 { font-size: 1.25em; }
}


hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--black);
  opacity: 0.15;
  height: 2px;
  border:none;
}

ul,
ol {
  padding: 0;
  list-style-position: outside;
}

ul ul,
ol ol,
ul ol,
ol ul {
  padding-left: 1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

pre {
  padding: 1em;
  overflow-x: auto;
}

pre,
code {
  background: var(--lightgrey);
}

@media (prefers-color-scheme: dark) {
  pre,
  code {
    background: var(--grey);
  }
}

blockquote {
  font-style: italic;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover,
a:active,
a:focus {
  color: var(--red);
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--lightblue);
  }

  a:visited {
    color: var(--lightpurple);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--lightred);
  }
}

.text.upper {
  text-transform: uppercase;
}

.text.bold {
  font-weight: 600;
}

.text.increase {
  font-size: 1.25em;
}

.text.decrease {
  font-size: 0.75em;
}

.text.max-width-75 {
  max-width: 75%;
}
