:root {
  --white: #ffffff; 
  --black: #000000;

  --almost-white: #f5f5f5;
  --almost-black: #111111;

  --dark-yellow: hsl(49, 100%, 15%);

  --blue: hsl(206,  69%,  34%);
  --purple: hsl(270, 69%, 34%);
  --red: hsl(348, 69%, 34%);

  --light-yellow: hsl(49, 100%, 94%);
  --light-blue: hsl(206,  99%,  78%);
  --light-purple: hsl(270, 99%, 78%);
  --light-red: hsl(348, 99%, 78%);

  /* Cross themes */
  --focus-outline-width: 4px;
  --focus-outline-style: dotted;
  --focus-outline-offset: 2px;


  /* Light theme */

  --theme-color-page-background: var(--white);
  --theme-color-headers: var(--black);
  --theme-color-text: var(--black);
  --theme-color-link: var(--blue);
  --theme-color-link-focus: var(--red);
  --theme-color-link-visited: var(--purple);
  --theme-color-code: var(--black);
  --theme-color-code-background: var(--almost-white);
  --theme-color-card: var(--black);
  --theme-color-card-background: var(--almost-white);
  --theme-color-focus-outline: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme */
    --theme-color-page-background: var(--black);
    --theme-color-headers: var(--white);
    --theme-color-text: var(--white);
    --theme-color-link: var(--light-blue);
    --theme-color-link-focus: var(--light-red);
    --theme-color-link-visited: var(--light-purple);
    --theme-color-code: var(--white);
    --theme-color-code-background: var(--almost-black);
    --theme-color-card: var(--white);
    --theme-color-card-background: var(--almost-black);
    --theme-color-focus-outline: var(--white);
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 1.5rem;
  }
}

body {
  max-width: 42rem;
  margin: 2em;
  background: var(--theme-color-page-background);
  color: var(--theme-color-text);
}



@media screen and (min-width: 700px) {
  body {
    margin: 4rem;
  }
}

main,
article,
section {
  margin: 6em 0;
}

@media screen and (orientation: landscape) {
  main,
  article,
  section {
    margin: 3em 0;
  }
}

:focus {
  outline-color: var(--theme-color-focus-outline);
  outline-style: var(--focus-outline-style);
  outline-width: var(--focus-outline-width);
  outline-offset: var(--focus-outline-offset);
}

p,
.p {
  font-size: 1rem;
  margin: 1em 0;
}

h1,
.h1 {
  font-size: 1.5em; 
  font-weight: 700;
  line-height: 1.2;
  margin: 1em 0;
}

h2, 
.h2 {
  font-size: 1.25em; 
  font-weight: 700;
  margin: 1em 0;
}

h3, 
.h3 {
  font-size: 1.125em; 
  font-weight: 700;
  margin: 1em 0;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 1em; 
  font-weight: 700;
  margin: 1em 0;
}

@media screen and (min-width: 700px) {
  h1,
  .h1 { 
    font-size: 2em; 
  }

  h2,
  .h2 { 
    font-size: 1.5em; 
  }

  h3,
  .h3 {
    font-size: 1.25em; 
  }

  h4,
  h5,
  h6, 
  .h4,
  .h5,
  .h6 {
    font-size: 1.125em; 
  }
}

@media screen and (min-width: 1000px) {
  h1,
  .h1 { 
    font-size: 2.25em; 
  }

  h2,
  .h2 { 
    font-size: 1.75em; 
  }

  h3,
  .h3 { 
    font-size: 1.5em; 
  }

  h4,
  h5,
  h6, 
  .h4,
  .h5,
  .h6 { 
    font-size: 1.25em; 
  }
}


hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--theme-color-text);
  opacity: 0.15;
  height: 2px;
  border:none;
}

ul,
ol {
  padding: 0;
  list-style-position: outside;
}

ul ul,
ol ol,
ul ol,
ol ul {
  padding-left: 1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

pre {
  padding: 1em;
  overflow-x: auto;
}

pre,
code {
  color: var(--theme-color-code);
  background: var(--theme-color-code-background);
}

blockquote {
  font-style: italic;
}

a {
  color: var(--theme-color-link);
}

a:visited {
  color: var(--theme-color-link-visited);
}

a:active,
a:focus {
  color: var(--theme-color-link-focus);
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.increase {
  font-size: 1.25em;
}

.decrease {
  font-size: 0.75em;
}

.max-width-75 {
  max-width: 75%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

[role="banner"] {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

[role="banner"] a {
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

[role="banner"] a:first-child {
  order: 2;
  margin-left: 1em;
}

[role="contentinfo"] {
  text-align: center;
}

/*
 * Markup card
 * ---
 * .card[.float.left|.float.right]
 *    div
 *      img
 *      h2>a
 *      p
 */

.card {
  position: relative;
  background: var(--theme-color-card-background);
}

.card:focus-within {
  outline-color: var(--theme-color-focus-outline);
  outline-style: var(--focus-outline-style);
  outline-width: var(--focus-outline-width);
  outline-offset: var(--focus-outline-offset);

}

.card:focus-within a {
  outline: none;
}

.card * {
  margin: 0;
}

.card div {
  padding: .5rem;
}

@media screen and (min-width: 400px) {
  .card.float.left {
    float: left;
    max-width: 50%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .card.float.right {
    float: right;
    max-width: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .card.float.left {
    max-width: 300px;
  }

  .card.float.right {
    max-width: 300px;
  }
}
