{{ $slug := .Get "slug" }}
{{ $float := .Get "float" }}
{{ $post := ($.Site.GetPage "useful-readline-settings") }}

{{ with $post }}
  <div class="card {{ with $float }} float {{ $float }}{{ end }}">
    {{ with $post.Param "image" }} 
      {{ $src := ($.Site.GetPage "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
      {{ with $src }}
        {{ $width := $src.Width }}
        {{ $height := $src.Height }}
        {{ $small :=  ($src.Resize "150x") }}
        {{ $medium :=  ($src.Resize "300x") }}

        <img 
          width="{{ $width }}"
          height="{{ $height }}"
          src="{{ $medium.RelPermalink }}"
          srcset="
                  {{ $small.RelPermalink }} 150w,
                  {{ $medium.RelPermalink }} 300w
                  " 
          sizes="300px"

          alt="Cover image for post {{ $post.Title }}"
        />
      {{ end }}
    {{ end }}
    <div>
      <h2 class="p decrease truncate"><a href="{{ $post.Permalink }}">{{ $post.Title }}</a></h2>
      <p class="decrease truncate">{{ $post.Summary | truncate 100 }}
    </div>
  </div>
{{ end }}

